<app-top-bar></app-top-bar>

<div class="categories">
  <button class="button" (click)="enableCategory('Phones')">Phones</button>
  <button class="button" (click)="enableCategory('Household appliances')">
    Household appliances
  </button>
  <button class="button" (click)="enableCategory('Televisions')">
    Televisions
  </button>
  <button class="button" (click)="enableCategory('Food')">Food</button>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
