<div *ngFor="let category of categories">
  <div *ngIf="category.active">
    <div *ngFor="let product of category.products">
      <h3>
        <a class="block object-fit" (click)="goToSite(product.url)">
          <img class="image" src="{{ product.img }}" width="100px" />
        </a>
        <a class="name" [title]="product.name" (click)="goToSite(product.url)">
          {{ product.name }}
        </a>
      </h3>

      <p class="info">
        Description:
        {{ product.description }}
      </p>
      <p class="info">
        {{ ' Rating: ' + product.rating + '/5' }}
      </p>
      <p class="info">
        {{ ' Likes: ' + product.likes }}
      </p>

      <button
        class="buttonW"
        type="button"
        (click)="shareWhatsApp(product.url)"
      >
        Share WhatsApp
      </button>
      <button
        class="buttonT"
        type="button"
        (click)="shareTelegram(product.url, product.name)"
      >
        Share Telegram
      </button>
      <button class="buttonLikes" type="button" (click)="Like(product)">
        Like
      </button>
      <button class="buttonDelete" type="button" (click)="DeleteProduct(product,category)">
      Delete
    </button>
    </div>
  </div>
</div>
