<div *ngFor="let category of categories">
  <div *ngIf="category.active">
    <div *ngFor="let product of category.products">
      <h3>
        <a (click)="goToSite(product.url)">
          <img src="{{ product.img }}" width="100px" />
        </a>
        <a class="name" [title]="product.name" (click)="goToSite(product.url)">
          {{ product.name }}
        </a>
      </h3>

      <p class="info" *ngIf="product.description">
        Description: {{ product.description + ' Rating: ' + product.rating }}
      </p>

      <button
        class="buttonW"
        type="button"
        (click)="shareWhatsApp(product.url)"
      >
        Share WhatsApp
      </button>
      <button
        class="buttonT"
        type="button"
        (click)="shareTelegram(product.url, product.name)"
      >
        Share Telegram
      </button>
    </div>
  </div>
</div>
