.buttonT {
  position: relative;
  left: 175px;
  bottom: 110px;
  border: none;
}
.buttonW {
  position: relative;
  left: 155px;
  bottom: 110px;
  border: none;
}
.name {
  position: relative;
  left: 50px;
  bottom: 110px;
}
.info {
  position: relative;
  left: 155px;
  bottom: 110px;
}
